/* global rules */
:root{
    --light-gray-color:#EEEEEE;
    --dark-gray-color:#999999;
    --red-color1:#ff0800;
    --light-green1:#32de84;
    --light-green2:#66FF00;
    --box-shadow1: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* display */
.d-block{
    display: block;
}
.d-inline{
    display: inline;
}
.d-inline-block{
    display: inline-block;
}
.d-flex{
    display: flex;
}
.d-flex-cc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.d-flex-bc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d-flex-ac{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.d-flex-ec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.d-flex-sc{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.d-flex-dc{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.d-grid{
    display: grid;
}
/* padding */
.p-0{
    padding: 0px;
}
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.p-20{
    padding: 20px;
}
.p-30{
    padding: 30px;
}
.p-40{
    padding: 40px;
}
.p-50{
    padding: 50px;
}
/* paddint-top */
.pt-0{
    padding-top: 0px;
}
.pt-10{
    padding-top: 10px;
}
.pr-15{
    padding-top: 15px;
}
.pt-20{
    padding-top: 20px;
}
.pt-30{
    padding-top: 30px;
}
.pt-40{
    padding-top: 40px;
}
.pt-50{
    padding-top: 50px;
}
/* padding-right */
.pr-0{
    padding-right: 0px;
}
.pr-10{
    padding-right: 10px;
}
.pr-20{
    padding-right: 20px;
}
.pr-30{
    padding-right: 30px;
}
.pr-40{
    padding-right: 40px;
}
.pr-50{
    padding-right: 50px;
}
/* padding-bottom */
.pb-0{
    padding-bottom: 0px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-15{
    padding-bottom: 15px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-30{
    padding-bottom: 30px;
}
.pb-40{
    padding-bottom: 40px;
}
.pb-50{
    padding-bottom: 50px;
}
/* padding-left */
.pl-0{
    padding-left: 0px;
}
.pl-10{
    padding-left: 10px;
}
.pl-20{
    padding-left: 20px;
}
.pl-30{
    padding-left: 30px;
}
.pl-40{
    padding-left: 40px;
}
.pl-50{
    padding-left: 50px;
}
/* margin */
.m-auto{
    margin: auto;
}
.m-0{
    margin: 0px;
}
.m-10{
    margin: 10px;
}
.m-20{
    margin: 20px;
}
.m-30{
    margin: 30px;
}
.m-40{
    margin: 40px;
}
.m-50{
    margin: 50px;
}
/* margin-top */
.mt-0{
    margin-top: 0px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mt-50{
    margin-top: 50px;
}
/* margin-right */
.mr-0{
    margin-right: 0px;
}
.mr-10{
    margin-right: 10px;
}
.mr-20{
    margin-right: 20px;
}
.mr-30{
    margin-right: 30px;
}
.mr-40{
    margin-right: 40px;
}
.mr-50{
    margin-right: 50px;
}
/* margin-bottom */
.mb-0{
    margin-bottom: 0px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-50{
    margin-bottom: 50px;
}
/* margin-left */
.ml-0{
    margin-left: 0px;
}
.ml-10{
    margin-left: 10px;
}
.ml-20{
    margin-left: 20px;
}
.ml-30{
    margin-left: 30px;
}
.ml-40{
    margin-left: 40px;
}
.ml-50{
    margin-left: 50px;
}
/* background-color */
.bg-white{
    background-color: white;
}
.bg-black{
    background-color: black;
}
.bg-red{
    background-color: red;
}
.bg-blue{
    background-color: blue;
}
.bg-green{
    background-color: green;
}
.bg-yellow{
    background-color: yellow;
}
.bg-orange{
    background-color: orange;
}
.bg-gray{
    background-color: gray;
}
.bg-sky{
    background-color: skyblue;
}
.bg-purple{
    background-color: purple;
}
.bg-salmon{
    background-color: salmon;
}
/* position */
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
/* border */
/* radius */
.rd-5{
    border-radius: 5px;
}
.rd-10{
    border-radius: 10px;
}
.rd-15{
    border-radius: 15px;
}
.rd-20{
    border-radius: 20px;
}
.rd-25{
    border-radius: 25px;
}
.rd-30{
    border-radius: 30px;
}
.rd-half{
    border-radius: 50%;
}
/* width and height */
.w-100{
    width: 100%;
}
.w-90{
    width: 90%;
}
.w-80{
    width: 80%;
}
.w-75{
    width: 75%;
}
.w-70{
    width: 70%;
}
.w-65{
    width: 65%;
}
.w-60{
    width: 60%;
}
.w-50{
    width: 50%;
}
.w-45{
    width: 45%;
}
.w-40{
    width: 40%;
}
.w-30{
    width: 30%;
}
.w-25{
    width: 25%;
}
.w-20{
    width: 20%;
}
.w-15{
    width: 15%;
}
.w-10{
    width: 10%;
}
.w-0{
    width: 0%;
}
.h-100{
    height: 100%;
}
.h-90{
    height: 90%;
}
.h-80{
    height: 80%;
}
.h-75{
    height: 75%;
}
.h-70{
    height: 70%;
}
.h-60{
    height: 60%;
}
.h-50{
    height: 50%;
}
.h-40{
    height: 40%;
}
.h-30{
    height: 30%;
}
.h-20{
    height: 20%;
}
.h-10{
    height: 10%;
}
.h-0{
    height: 0%;
}
/* font-size */
.fs-15{
    font-size: 15px;
}
.fs-16{
    font-size: 16px;
}
.fs-17{
    font-size: 17px;
}
.fs-18{
    font-size: 18px;
}
.fs-19{
    font-size: 19px;
}
.fs-20{
    font-size: 20px;
}
.fs-22{
    font-size: 22px;
}
.fs-25{
    font-size: 25px;
}
.fs-30{
    font-size: 30px;
}
.fs-35{
    font-size: 35px;
}
.fs-40{
    font-size: 40px;
}
.fs-45{
    font-size: 45px;
}
.fs-50{
    font-size: 50px;
}
/* font-color */
.c-red{
    color: red;
}
.c-white{
    color: white;
}
.c-black{
    color: black;
}
.c-gray{
    color: gray;
}
.c-green{
    color: green;
}
.c-blue{
    color: blue;
}
/* text-align */
.ta-center{
    text-align: center;
}
.ta-left{
    text-align: left;
}
.ta-right{
    text-align: right;
}
/* text-transform */
.tt-c{
    text-transform: capitalize;
}
.tt-u{
    text-transform: uppercase;
}
.tt-l{
    text-transform: lowercase;
}
/* text-weight */
.fw-bold{
    font-weight: bold;
}
.fw-light{
    font-weight: lighter;
}
.fw-100{
    font-weight: 100;
}
.fw-200{
    font-weight: 200;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.fw-800{
    font-weight: 800;
}
.fw-900{
    font-weight: 900;
}
.fw-1000{
    font-weight: 1000;
}